<div class="total">
    <nav class="navbar navbar-expand-lg navbar-light" style="opacity: 0.7;">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
               <a href="https://www.linkedin.com/in/lucas-rafael-cordeiro/"><i class="bi bi-linkedin"></i></a>
              </li>
              <li class="nav-item">
               <a href="https://github.com/cordeiro100"><i class="bi bi-github"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://www.instagram.com/lucasrcordeiro100/"><i class="bi bi-instagram"></i></a>
              </li>
             </ul>
          </div>
        </div>
      </nav>
<div class="sobre-mim">
    <img src="assets/Lucas Cordeiro.jpeg">
    <div class="texto-foto">
      <h1>Olá,</h1>
      <p>sou Lucas Cordeiro, desenvolvedor Front-End Angular.</p>
      <p>Trabalho como freelancer front-end, desenvolvendo landing pages.</p>
      <p>Possuo diversos projetos próprios e certificados na área</p>
      <p>Sempre aceito desafios e acredito em meu potencial!</p>
    </div>
    </div>
    <div class="skills">
        <h2>Minhas skills</h2>
        <div class="icones">
        <i class="bi bi-filetype-html"></i>
        <i class="bi bi-filetype-css"></i>
        <i class="bi bi-filetype-js"></i>
        <i class="bi bi-bootstrap"></i>
        <img src="assets/angular.png">
    </div>
    </div>

<div class="conteudo">
    <section class="projetos container">

<div class="row justify-content-center" >
  
    <div class="card col-12 p-0 m-4" style="max-width: 18rem;">
        <img src="assets/foto-fruta.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fruta&Fruto - Angular</h5>
          <p class="card-text"> é uma LandingPage criada com objetivo de demonstração de receitas.</p>
          <a routerLink="frutafruto" class="btn btn-primary" (click)="gotoFruta()">Go to Fruta&Fruto</a>
        </div>
      </div>
      <div class="card col-12 p-0 m-4" style="max-width: 18rem;">
        <img src="assets/cordeiroplays.png/" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CordeiroPlays - Angular</h5>
          <p class="card-text"> é uma LandingPage criada com objetivo de ser uma plataforma de campeonatos virtuais de f1.
         
          </p>
          <a href="#" class="btn btn-primary">Go to CordeiroPlays</a>
        </div>
        </div>
        <div class="card col-12 p-0 m-4" style="max-width: 18rem;">
          <img src="assets/traduza.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Traduza - Angular</h5>
            <p class="card-text"> é uma LandingPage criada com objetivo de aprender inglês se divertindo.</p>
            <a href="#" class="btn btn-primary"> Go to Traduza</a>
          </div>
          </div>
          <div class="videos">
            <h1>Sites usando API</h1>
            <video src="assets/bytebank.mp4" controls></video>
            <video src="assets/Firebase.mp4" controls></video>
      
          </div>
        </div>
 
  </section>
</div>
<div class="descricao">
  <div>
  <p>ByteBank é um site com objetivo de simular<br>
    uma transferência bancária<br>
    Foi utilizado JSON SERVER<br>
     para simulação da API
  </p>
</div>
<div>
  <p>Site criado para demonstração <br> 
    de uma página de login e <br> 
    cadastro válidas, utilizando <br>
    Firebase como API</p>
</div>
</div>

   </div>
    